.highlight {
    background: #282c34;
    color: #abb2bf;
}

    .highlight pre {
        background: #282c34;
    }

    /* Escape */
    .highlight .esc {
        color: #56b6c2;
    }

    /* Errors */
    .highlight .err {
        color: #e06c75;
    }

    /* Keywords */
    .highlight .k,
    .highlight .kw,
    .highlight .kr,
    .highlight .kn {
        color: #c678dd;
    }

    .highlight .kc {
        color: #d19a66;
    }

    .highlight .kp {
        color: #61afef;
    }

    .highlight .kt {
        color: #d19a66;
    }

    /* Names */
    .highlight .na {
        color: #d19a66;
    }

    .highlight .nb {
        color: #56b6c2;
    }

    .highlight .bp {
        color: #e5c07b;
    }

    .highlight .nc {
        color: #e5c07b;
    }

    .highlight .no {
        color: #e5c07b;
    }

    .highlight .nd {
        color: #56b6c2;
    }

    .highlight .ne {
        color: #56b6c2;
    }

    .highlight .nf,
    .highlight .nx {
        color: #61afef;
    }

    .highlight .nl {
        color: #61afef;
    }

    .highlight .nt {
        color: #e06c75;
    }

    .highlight .nv {
        color: #e06c75;
    }

    /* Literals */
    .highlight .l {
        color: #98c379;
    }

    .highlight .s,
    .highlight .s1,
    .highlight .s2,
    .highlight .sb,
    .highlight .sc,
    .highlight .ss {
        color: #98c379;
    }

    .highlight .sa {
        color: #c678dd;
    }

    .highlight .se {
        color: #56b6c2;
    }

    .highlight .si {
        color: #d19a66;
    }

    .highlight .sr {
        color: #e06c75;
    }

    .highlight .m,
    .highlight .mi,
    .highlight .mf,
    .highlight .mh,
    .highlight .mo,
    .highlight .mb,
    .highlight .il {
        color: #d19a66;
    }

    /* Operators */
    .highlight .o,
    .highlight .ow {
        color: #56b6c2;
    }

    /* Comments */
    .highlight .c,
    .highlight .c1,
    .highlight .cm,
    .highlight .cs {
        color: #7f848e;
        font-style: italic;
    }

    .highlight .cp {
        color: #c678dd;
    }

    .highlight .cpf {
        color: #98c379;
    }

    /* Generic */
    .highlight .gd {
        color: #e06c75;
    }

    .highlight .ge {
        color: #c678dd;
        font-style: italic;
    }

    .highlight .gr {
        color: #e06c75;
    }

    .highlight .gh {
        color: #e06c75;
        font-weight: bold;
    }

    .highlight .gi {
        color: #98c379;
    }

    .highlight .go {
        color: #98c379;
    }

    .highlight .gp {
        color: #5c6370;
    }

    .highlight .gs {
        color: #d19a66;
        font-weight: bold;
    }

    .highlight .gu {
        color: #e06c75;
    }

    .highlight .gt {
        color: #e06c75;
    }
